.search-bar_wrapper {
	width: 50vw;
	max-width: 400px;
}

.search-bar {
}

.search-bar fieldset {
	border-color: rgba(196, 196, 196, 0.349) !important;
}

.search-bar_input {
	background-color: rgb(26, 26, 26);
	color: rgb(196, 196, 196) !important;
}

.search-bar_input_label {
	color: rgb(196, 196, 196) !important;
}
