.thumb {
	overflow: hidden !important;
}
.thumb img {
	margin: -10% 0 !important;
	width: 100% !important;
}

.svc-title {
	font-size: large;
	font-weight: 600;
	padding-bottom: 0;
}

.svc-channel {
	font-size: medium;
	font-weight: 500;
	padding-bottom: 0.4rem;
	color: rgb(100, 99, 99);
}

.svc-desc {
	font-size: small;
	color: rgb(100, 99, 99);
}

.svc-date {
	font-size: small;
	padding-bottom: 0.4rem;
	color: rgb(100, 99, 99);
}
