.thumb {
	overflow: hidden !important;
}
.thumb img {
	margin: -10% 0 !important;
	width: 100% !important;
}

.hvc-title {
	font-weight: 600;
}

.hvc-channel {
	font-size: medium;
	color: rgb(100, 99, 99);
}

.hvc-date {
	font-size: small;
	color: rgb(100, 99, 99);
}
